/* stylelint-disable */

@font-face {
	font-family: 'AvenirNextCyr';
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
}
