/* stylelint-disable */

@font-face {
	font-family: 'Uni-neue';
	src: url("../fonts/Uni-neue/UniNeueRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Uni-neue';
	src: url("../fonts/Uni-neue/UniNeueBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
