<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Люди, которые практически отчаялись, но смогли похудеть благодаря <span>slim&go</span></div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__media"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__body">
                        <div class="commits__name">Марина, 29 лет</div>
                        <div class="commits__line"></div>
                        <div class="commits__description">Я поправилась после родов. Думала, что будет легко похудеть, но после диет вес постоянно возвращался. Мучил голод и отвратительное настроение. После приема Slim&Go сразу заметила, что стала лучше себя чувствовать. Больше сил в течение дня, спокойнее сон, меньше стресса и совсем не хочется шоколада и чипсов - это моя слабость. В итоге я вернулась к своему идеальному весу за 2.5 месяца, а не могла это сделать больше года!</div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__media"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__body">
                        <div class="commits__name">Ирина, 35 лет</div>
                        <div class="commits__line"></div>
                        <div class="commits__description">Я узнала о Slim&Go полгода назад, тогда я весила под 90 кг. За два месяца сбросила 21 кг и это для меня огромное достижение! Дальше вес уходил медленнее, несмотря на это, сейчас я вешу 63 кг и чувствую себя как никогда хорошо. Ушла тяжесть в животе и в движениях. Теперь я будто летаю!</div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__media"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__body">
                        <div class="commits__name">Ксения, 40 лет</div>
                        <div class="commits__line"></div>
                        <div class="commits__description">Я даже не сосчитаю сколько раз ставила перед собой цель похудеть. Ради эксперимента решила попробовать Slim&Go. Удивительно, но даже при моей любви к сладкому, я все равно худела. Потом меня перестало тянуть перекусить и похудение пошло быстрее. Я сбросила 12 килограмм, от которых не могла избавиться 10 лет.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>