<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <h1 class="face__title">slim&got <span>изменит ваш подход к похудению</span></h1>
                <div class="face__list">
                    <div class="face__item">Ускоренное сжигание жира и уменьшение тяги к вредной еде</div>
                    <div class="face__item">Очищение и оздоровление организма</div>
                    <div class="face__item">Универсальная формула для мужчин и женщин</div>
                </div>
                <div class="face__footer"><mark>Поторопитесь!</mark> Товара по акции осталось: <mark>8 шт.</mark></div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="face__box">
                <form class="form">
                    <div class="form__title">ЗАКАЗАТЬ SLIM&GO ПРЯМО СЕЙЧАС</div>
                    <div class="form__price">
                        <div class="form__price-old">78 euro</div>
                        <div class="form__price-new">39 euro</div>
                    </div>
                    <label class="form__label">
                        <div class="form__label-name">Страна:</div>
                        <select class="form__field form__select">
                            <option value="Россия">Россия</option>
                        </select>
                    </label>
                    <label class="form__label">
                        <div class="form__label-name">Ваше имя:</div>
                        <input type="text" class="form__field">
                    </label>
                    <label class="form__label">
                        <div class="form__label-name">Телефон:</div>
                        <input type="text" class="form__field">
                    </label>
                    <div class="form__time">
                        <div class="form__time-title">До конца акции осталось:</div>
                        <div class="form__time-body">
                            <div class="form__time-item">
                                <span>00</span>
                                <span>Часов</span>
                            </div>
                            <div class="form__time-item">
                                <span>12</span>
                                <span>Минут</span>
                            </div>
                            <div class="form__time-item">
                                <span>00</span>
                                <span>Секунд</span>
                            </div>
                        </div>
                    </div>
                    <button class="form__btn">Заказать сейчас</button>
                </form>
            </div>
        </div>
    </div>
</section>