<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__media">
                <img src="../media/info/product.png" alt="">
            </div>
            <div class="info__body">
                <div class="info__title">Обратите внимание!</div>
                <div class="info__subtitle">Количество упаковок Slim&Go на один курс похудения рассчитывается индивидуально и может меняться в зависимости от желаемого результата.</div>
            </div>
        </div>
    </div>
</section>