<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__title">Секрет <span><mark>slim&go</mark> – состав с лактобактериями</span></div>
            <div class="ingredients__body">
                <div class="ingredients__row">
                    <div class="ingredients__item">
                        <div class="ingredients__name">Лактобактерии</div>
                        <div class="ingredients__line"></div>
                        <div class="ingredients__description">Останавливают рост и развитие патогенных микроорганизмов в кишечнике. Налаживают пищеварение, снижают уровень холестерина, укрепляют иммунитет.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__name">Горький апельсин</div>
                        <div class="ingredients__line"></div>
                        <div class="ingredients__description">Повышенное содержание витамина. С защищает клетки от негативного воздействия окружающей среды и усиливает приток кислорода, ускоряя расщепление жира.</div>
                    </div>
                </div>
                <div class="ingredients__row">
                    <div class="ingredients__item">
                        <div class="ingredients__name">Корень якона</div>
                        <div class="ingredients__line"></div>
                        <div class="ingredients__description">Способствует быстрому расщеплению углеводов и ускоряет обмен веществ. Уменьшает аппетит и тягу к вредной еде.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__name">Дикий шафран</div>
                        <div class="ingredients__line"></div>
                        <div class="ingredients__description">Очищает организм, повышает работоспособность, переводит жир в энергию.</div>
                    </div>
                </div>
                <div class="ingredients__row">
                    <div class="ingredients__item">
                        <div class="ingredients__name">Экстракт какао</div>
                        <div class="ingredients__line"></div>
                        <div class="ingredients__description">Переводит калории в энергию, не давая откладывать их в жировые запасы. Поднимает настроение, предотвращает пищевые срывы.</div>
                    </div>
                </div>
            </div>
            <div class="ingredients__btn"><a href="">Заказать сейчас</a></div>
        </div>
    </div>
</section>