<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title">Мнение специалиста:</div>
            <div class="professional__info">
                <p>В первые дни приема Slim&Go запускает процесс очищения и налаживания микрофлоры. Спустя две недели – начинает расщепляться глубокий слой жира.</p>
                <p><mark>Slim&Go помогает дольше чувствовать насыщенность.</mark> Поэтому размер порции постепенно уменьшается. При этом нет ощущения слабости, наоборот, вы ощущаете прилив сил. Это говорит о том, что организм работает правильно. Независимо от того, занимаетесь вы спортом или сидите дома и смотрите фильм, ваш организм постоянно вырабатывает энергию, которая сжигает жир даже в состоянии покоя. </p>
                <p><b>Виктория Шнаб, диетолог</b></p>
            </div>
            <div class="professional__media">
                <img src="../media/professional/product.png" alt="">
            </div>
        </div>
    </div>
</section>