<section class="section section_program">
    <div class="container">
        <div class="program">
            <div class="program__title">Оздоровительная детокс-программа <span>slim&go</span></div>
            <div class="program__description">
                <p>Для создания Slim&Go были исследованы жиросжигающие и очищающие свойства более 3000 продуктов. На основе этих данных специалисты создали уникальный детокс-препарат, который помогает сжигать подкожный жир и улучшает обменные процессы за счет лактобактерий.</p>
                <p>Микроэлементы в составе запускают процесс очищения, регулируют аппетит и помогают организму перестроиться без вреда для здоровья.</p>
            </div>            
            <div class="section__product">
                <img src="../media/program/product.png" alt="">
            </div>
            <div class="program__btn"><a href="">Заказать сейчас</a></div>
        </div>
    </div>
</section>