<section class="section section_quest">
    <div class="container">
        <div class="quest">
            <div class="quest__title"><mark>Не можете похудеть?</mark> Пройдите тест и узнайте как сбросить лишний вес:</div>
            <div class="quest__body">
                <div class="quest__item visible">
                    <div class="quest__media"><img src="../media/quest/img-1.png" alt=""></div>
                    <div class="quest__item-title">Ваш завтрак…</div>
                    <div class="quest__check">Не успеваю поесть с утра и пью чай или кофе</div>
                    <div class="quest__check">Очень плотный и состоит из углеводов</div>
                    <div class="quest__check">Легкий перекус </div>
                    <div class="quest__check">Злаковый</div>
                    <div class="quest__check">Затрудняюсь ответить </div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-2.png" alt=""></div>
                    <div class="quest__item-title">Вы выпиваете в день…</div>
                    <div class="quest__check">От 2х до 3х литров воды</div>
                    <div class="quest__check">Не могу приучить себя пить много воды</div>
                    <div class="quest__check">Не пью воду совсем</div>
                    <div class="quest__check">Всегда по-разному</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-3.png" alt=""></div>
                    <div class="quest__item-title">Вечером вы...</div>
                    <div class="quest__check">Не ем после 18.00</div>
                    <div class="quest__check">Плотно ужинаю</div>
                    <div class="quest__check">Ем белок и клетчатку</div>
                    <div class="quest__check">Зависит от настроения или чувства голода</div>
                    <div class="quest__check">Затрудняюсь ответить</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-4.png" alt=""></div>
                    <div class="quest__item-title">Чаще всего вы употребляете в пищу</div>
                    <div class="quest__check count-1">Фастфуд и полуфабрикаты</div>
                    <div class="quest__check count-2">Жирное и мучное</div>
                    <div class="quest__check count-3">У меня рациональное питание из белков, жиров и углеводов</div>
                    <div class="quest__check">Всегда по-разному</div>
                    <div class="quest__check">Не обращаю внимания, что я ем</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-1.png" alt=""></div>
                    <div class="quest__item-title">Ваша двигательная активность...</div>
                    <div class="quest__check">Занимаюсь спортом минимум 2 раза в неделю</div>
                    <div class="quest__check">Хаотическая: иногда 2 тренировки в неделю, а иногда ни одной</div>
                    <div class="quest__check">В целом низкая – сидячая работа и хроническая нехватка времени на спорт</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-2.png" alt=""></div>
                    <div class="quest__item-title">Диета для вас – это...</div>
                    <div class="quest__check">Жесткая система правил и ограничений</div>
                    <div class="quest__check">То, что начинается в понедельник....и заканчивается в среду. А потом снова начинается в понедельник</div>
                    <div class="quest__check">Отказ от вредного, только полезное и в небольших количествах</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-1.png" alt=""></div>
                    <div class="quest__item-title">Чаще всего вы просыпаетесь…</div>
                    <div class="quest__check">Выспавшись и в хорошем настроении</div>
                    <div class="quest__check">Без настроения из-за недосыпа</div>
                    <div class="quest__check">Затрудняюсь ответить</div>
                    <div class="quest__check">Всегда по-разному</div>
                </div>
                <div class="quest__item">
                    <div class="quest__media"><img src="../media/quest/img-2.png" alt=""></div>
                    <div class="quest__item-title">Вы заедаете стресс?</div>
                    <div class="quest__check">Да</div>
                    <div class="quest__check">Нет</div>
                    <div class="quest__check">Иногда</div>
                </div>
            </div>
            <div class="quest__footer">
                <div class="quest__btn prev visible">Назад</div>
                <div class="quest__btn next visible">Дальше</div>
                <div class="quest__btn status">Узнать результат</div>
            </div>
        </div>
    </div>
</section>