<section class="section section_result">
    <div class="container">
        <div class="result result_1">
            <div class="result__title">Ваш результат:</div>
            <div class="result__description">
                <p>Ваш основной рацион требует более детального рассмотрения. Возможно, лишний вес спровоцировал дефицит полезных микроэлементов. Поэтому вы можете почувствовать голод уже через полчаса после приема пищи. Чтобы похудеть, вам необходимо очистить организм от токсичных веществ распада трансжиров и ввести в рацион витамины, лактобактерии и натуральные сжигатели жира. Если вам сложно менять свои пищевые привычки, достаточно принимать специальный витаминный комплекс. </p>
                <p>Slim&Go содержит в своем составе антиоксиданты, лактобактерии и экстракты натуральных растений, которые не только восполняют витаминный дефицит, но и ускоряют процесс похудения в два раза. Slim&Go ускоряет метаболизм и закрепляет в организме лактобактерии, поэтому сброшенный вес не возвращается.</p>
            </div>
        </div>
        <div class="result result_2">
            <div class="result__title">Ваш результат:</div>
            <div class="result__description">
                <p>Вы склонны к повышенному содержанию сахара в крови и можете поправиться даже от 50 лишних калорий. Это происходит из-за сигналов организма, который получил пищу в достаточном количестве, но недополучил микроэлементов, необходимых для нормального функционирования. Чтобы похудеть, вам необходимо сбалансировать рацион, который ускорит ваш метаболизм. Получая нужное количество белков, углеводов, жиров и витаминов, организм не будет требовать больше еды, что уменьшит аппетит. Вся пища будет переводиться в энергию, а ускоренный метаболизм начнет сжигать запасы жиров, которые были отложены ранее. Если вам сложно менять свои пищевые привычки, достаточно принимать специальный витаминный комплекс. Slim&Go содержит в своем составе антиоксиданты, лактобактерии и экстракты натуральных растений, которые не только восполняют витаминный дефицит, но и ускоряют процесс похудения в два раза. </p>
                <p>Slim&Go ускоряет метаболизм и закрепляет в организме лактобактерии, поэтому сброшенный вес не возвращается.</p>
            </div>
        </div>
        <div class="result result_3">
            <div class="result__title">Ваш результат:</div>
            <div class="result__description">
                <p>Энергетический обмен в вашем организме устроен таким образом, что даже 50 лишних калорий могут привести к замедлению метаболизма и откладыванию жира в запасы. Чтобы запустить процесс активного сжигания жира, вам необходимо добавить в рацион натуральные жиросжигатели, лактобактерии для нормальной работы пищеварительной системы и вы начнете худеть. </p>
                <p>Slim&Go содержит в своем составе антиоксиданты, лактобактерии и экстракты натуральных растений, которые не только восполняют витаминный дефицит, но и ускоряют процесс похудения в два раза. Slim&Go ускоряет метаболизм и закрепляет в организме лактобактерии, поэтому сброшенный вес не возвращается.</p>
            </div>
        </div>
        <div class="result result_4">
            <div class="result__title">Ваш результат:</div>
            <div class="result__description">
                <p>4) Энергетический обмен в вашем организме устроен таким образом, что даже 50 лишних калорий могут привести к замедлению метаболизма и откладыванию жира в запасы. Чтобы запустить процесс активного сжигания жира, вам необходимо добавить в рацион натуральные жиросжигатели, лактобактерии для нормальной работы пищеварительной системы и вы начнете худеть.</p>
                <p>Slim&Go содержит в своем составе антиоксиданты, лактобактерии и экстракты натуральных растений, которые не только восполняют витаминный дефицит, но и ускоряют процесс похудения в два раза. Slim&Go ускоряет метаболизм и закрепляет в организме лактобактерии, поэтому сброшенный вес не возвращается.</p>
            </div>
        </div>
    </div>
</section>