<section class="section section_secret">
    <div class="container">
        <div class="secret">
            <div class="secret__title">Секрет их стройности</div>
            <div class="secret__subtitle">– в быстром метаболизме и правильных бактериях</div>
            <div class="secret__info">Есть все и не толстеть помогают полезные бактерии. </div>
            <div class="secret__description">
                <p>Попадая в организм, они налаживают пищеварительный процесс, перерабатывая всю пищу в энергию и блокируя отложение жиров. Чтобы лактобактерии прижились и продолжали работать постоянно, нужно их правильно заселить.</p>
                <p><mark> В состав Slim&Go входит нужное <span>количество полезных бактерий.</span> </mark></p>
                <p>Комплекс натуральных микроэлементов помогает им не покидать организм, а следить за пищеварительным процессом на протяжении долгого времени. Это поможет вам достигнуть сохранить вес.</p>
            </div>
        </div>
    </div>
</section>