<section class="section section_why">
    <div class="container">
        <div class="why">
            <div class="why__title">Почему одни едят</div>
            <div class="why__list">
                <div class="why__item">Что хотят</div>
                <div class="why__item">Когда хотят</div>
                <div class="why__item">Сколько хотят</div>
            </div>
            <div class="why__subtitle">и не толстеют?</div>
        </div>
    </div>
</section>