
.secret {
    margin-left: auto;
    max-width: 870px;
    text-align: right;
}

.secret__title {
    font-size: 72px;
    font-weight: 700;
}

.secret__subtitle {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
}

.secret__info {
    display: inline-block;
    margin-bottom: 30px;
    padding: 23px;
    padding-left: 70px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #49CD80;
}

.secret__description {
    max-width: 580px;
    margin-left: auto;
    font-size: 20px;
    color: #737373;

    & mark {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 36px;
        color: #49CD80;
        font-weight: 700;
        line-height: 1;
    }

    & span {
        display: block;
    }
}

@media (max-width: 1310px) {
    .secret {
        text-align: center;
    }

    .secret__title {
        font-size: 58px;
    }

    .secret__description {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .secret__title {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 1;
    }

    .secret__subtitle {
        font-size: 30px;
        line-height: 1;
    }

    .secret__info {
        padding: 15px;
        font-size: 16px;
    }

    .secret__description mark {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .secret__description {
        font-size: 18px;
    }

    .secret__subtitle {
        font-size: 26px;
    }

    .secret__title {
        font-size: 40px;
    }
}
